.h-50vh {
  height: 50vh;
}

.h-75vh {
  height: 75vh;
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #363636;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4b4b4b;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}